@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  width: 100vw;
  height: 100vh;
}

.custom-segmented .ant-segmented-item-selected {
  background-color: black !important;
  color: white !important;
}

.custom-segmented .ant-segmented-item:not(.ant-segmented-item-selected) {
  background-color: white !important;
  color: #999 !important;
}
